<<<<<<< HEAD
*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 150ms ease-in-out;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  color: white;
}

#bg-vid {
  position: fixed;
  right: 0;
  bottom: 0;
  /* width: 100%;
  height: 100%; */
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
}

.quiz-app {
  align-items: center;
  margin-top: 50px;
  padding: 32px 12px;
  background-color: rgba(23, 23, 23, .7);
  backdrop-filter: blur(16px);
  border-radius: 16px;

  .quiz-heading {
    position: relative;
    text-align: center;
    padding: 20px 20px 80px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .quiz-section {
    width: 100%;
    position: absolute;
    top: 150px;
    background-color: rgba(26, 26, 26, 0.7);
    border-radius: 16px;
    padding: 32px;

    .right {
      width: 100%;
      height: 100%;

      .quiz-image {
        border-radius: 12px;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .quiz-question {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
      }

      hr {
        opacity: .5;
        width: 100%;
      }
    }

    .left {
      width: 100%;
      height: 100%;

      .q-large {
        display: none;
      }

      .quiz-answers {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-top: 50px;

        .quiz-btn {
          display: flex;
          align-items: center;
          text-transform: capitalize;
          background-color: transparent;
          border: 2px solid #0066da;

          input {
            margin-left: auto;
          }

          &:hover {
            background-color: #0066da;
          }
        }

        .quiz-checkbox {
          display: flex;
          align-items: center;

          input {
            margin-left: auto;
            width: 50px;
          }

          &[input]:checked {
            background-color: #0066da;
          }
        }
      }

      select {
        color: black;
        padding: 8px;
        border-radius: 8px;
        cursor: pointer;
        font-size: 1.2rem;
        outline: none;

        option {
          color: black;
        }
      }

      .next-btn,
      .restart-btn {
        margin-top: 30px;
        background-color: #0066da;
        border: 1px solid transparent;

        &:hover {
          background-color: #04448d;
        }
      }

      .textbox {
        padding: 16px 12px;
        outline: none;
        border-radius: 8px;
        color: black;
        font-size: 1.2rem;
      }
    }
  }
}

/* utility classes */
.btn {
  font-size: 1.1rem;
  padding: 16px 32px;
  border-radius: 16px;
  cursor: pointer;
  width: 100%;
}

.hide {
  display: none !important;
}

.quiz-question {
  font-weight: 600;
}
=======
*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 150ms ease-in-out;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  color: white;
}

#bg-vid {
  position: fixed;
  right: 0;
  bottom: 0;
  /* width: 100%;
  height: 100%; */
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
}

.quiz-app {
  align-items: center;
  margin-top: 50px;
  padding: 32px 12px;
  background-color: rgba(23, 23, 23, .7);
  backdrop-filter: blur(16px);
  border-radius: 16px;

  .quiz-heading {
    position: relative;
    text-align: center;
    padding: 20px 20px 35px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .quiz-section {
    width: 100%;
    position: absolute;
    top: 150px;
    background-color: rgba(26, 26, 26, 0.7);
    border-radius: 16px;
    padding: 32px;

    .right {
      width: 100%;
      height: 100%;

      .quiz-image {
        border-radius: 12px;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .quiz-question {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
      }

      hr {
        opacity: .5;
        width: 100%;
      }
    }

    .left {
      width: 100%;
      height: 100%;

      .q-large {
        display: none;
      }

      .quiz-answers {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-top: 50px;

        .quiz-btn {
          display: flex;
          align-items: center;
          text-transform: capitalize;
          background-color: transparent;
          border: 2px solid #0066da;

          input {
            margin-left: auto;
          }

          &:hover {
            background-color: #0066da;
          }
        }

        .quiz-checkbox {
          display: flex;
          align-items: center;

          input {
            margin-left: auto;
            width: 50px;
          }

          &[input]:checked {
            background-color: #0066da;
          }
        }
      }

      select {
        color: black;
        padding: 8px;
        border-radius: 8px;
        cursor: pointer;
        font-size: 1.2rem;
        outline: none;

        option {
          color: black;
        }
      }

      .next-btn,
      .restart-btn {
        margin-top: 30px;
        background-color: #0066da;
        border: 1px solid transparent;

        &:hover {
          background-color: #04448d;
        }
      }

      .textbox {
        padding: 16px 12px;
        outline: none;
        border-radius: 8px;
        color: black;
        font-size: 1.2rem;
      }
    }
  }
}

/* utility classes */
.btn {
  font-size: 1.1rem;
  padding: 16px 32px;
  border-radius: 16px;
  cursor: pointer;
  width: 100%;
}

.hide {
  display: none !important;
}

.quiz-question {
  font-weight: 600;
}
>>>>>>> 4202fe1 (feat: re init clone fck)
